<div class="uk-section-small uk-section-default header">
  <div class="uk-container uk-container-large">
    <h1><span class="ion-speedometer"></span> Agregar Servicio</h1>
    <ul class="uk-breadcrumb">
      <li><a routerLink="">Inicio</a></li>
      <li><a routerLink="/service">Servicios</a></li>
      <li><span>Agregar Servicio</span></li>
    </ul>
  </div>
</div>


<div class="uk-section-small">
  <div class="uk-container uk-container-large">
    <div>
      <div class="uk-card uk-card-default uk-card-body">

        <form class="uk-grid-small" [formGroup]="formGroupUser" uk-grid (ngSubmit)="captureInformation()">

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Materiales</label>
            <input class="uk-input" type="number" formControlName="valueMaterials" />
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Precio ServiAsistimos</label>
            <input class="uk-input" type="number" formControlName="valueAsistimos" />
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Precio Cliente</label>
            <input class="uk-input" type="number" formControlName="valueCostumer" />
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Nombre Servicio</label>
            <input class="uk-input" type="text" formControlName="nameService" />
          </div>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Comentario</label>
            <!-- <input class="uk-input" type="number" formControlName="commentary" /> -->
            <textarea class="uk-textarea" formControlName="commentary"></textarea>
          </div>

          <div class="uk-width-1-1@s uk-flex uk-flex-center">
            <button class="uk-button uk-button-primary submitbutton" type="submit" [disabled]="!formGroupUser.valid">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>