<div class="uk-section-small uk-section-default header">
  <div class="uk-container uk-container-large">
    <h1><span class="ion-speedometer"></span> Ver Usuario</h1>
    <ul class="uk-breadcrumb">
      <li><a routerLink="">Inicio</a></li>
      <li><a routerLink="/usuario">Usuarios</a></li>
      <li><span>Ver Usuario</span></li>
    </ul>
  </div>
</div>

<div class="uk-section-small" *ngIf="clientes == 0">
  <div class="uk-container uk-container-large">
    <div uk-alert>
      <h2>No hay datos <i class="fas fa-table"></i></h2>
    </div>
  </div>
</div>


<div *ngIf="clientes != 0">
  <div class="uk-section-small">
    <div class="uk-container uk-container-large">
      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{cliente.nombres}} {{cliente.apellidos}}</h3>
                <p class="uk-text-meta uk-margin-remove-top">{{cliente.celular}}
                </p>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>{{cliente.eps.descripcion}}</p>
            <p>{{cliente.correo}}</p>
            <p *ngIf="cliente.alergias == 1"> Alergias:SI</p>
            <p *ngIf="cliente.alergias == 0">Alergias:NO</p>
            <p *ngIf="cliente.limitaciones == 1">Limitaciones:SI</p>
            <p *ngIf="cliente.limitaciones == 0">Limitaciones:NO</p>
          </div>
          <div class="uk-card-footer">
            <p class="uk-button uk-button-text">Nombre Familiar: {{cliente.nombre_familiar}}</p><br>
            <p class="uk-button uk-button-text">Celular: {{cliente.celular_familiar}}</p>
          </div>
          <div class="uk-card-footer">
            <a class="uk-button uk-button-default" href="#modal-sections" uk-toggle>Objetivo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Objetivos -->
<div id="modal-sections" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Objetivo</h2>
    </div>
    <div class="uk-modal-body">
      <!-- End No data -->
      <div uk-alert *ngIf="cliente.diagnosticos == 0">
        <h2>No hay datos de diagnostico <i class="fas fa-table"></i></h2>
      </div>
      <!-- End No data -->

      <div class="uk-overflow-auto" *ngIf="cliente.diagnosticos != 0">
        <table class="uk-table uk-table-small uk-table-divider">
          <thead>
            <tr>
              <th>NO.</th>
              <th>Hipertrofia</th>
              <th>Bajar Peso</th>
              <th>Fuerza</th>
              <th>Potencia</th>
              <th>capacidad aerobica</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hist of cliente.diagnosticos">
              <td>{{hist.id}}</td>
              <td *ngIf="hist.Hipertrofia == 0">NO</td>
              <td *ngIf="hist.Hipertrofia == 1">SI</td>
              <td *ngIf="hist.bajar_peso == 0">NO</td>
              <td *ngIf="hist.bajar_peso == 1">SI</td>
              <td *ngIf="hist.Ganancia_fuerza == 0">NO</td>
              <td *ngIf="hist.Ganancia_fuerza == 1">SI</td>
              <td *ngIf="hist.Potencia == 0">NO</td>
              <td *ngIf="hist.Potencia == 1">SI</td>
              <td *ngIf="hist.capacidad_aerobica == 0">NO</td>
              <td *ngIf="hist.capacidad_aerobica == 1">SI</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cerrar</button>
    </div>
  </div>
</div>


<!--Objetivos -->




<!-- End No data -->
<div class="uk-section-small" *ngIf="cliente.medidas == 0">
  <div class="uk-container uk-container-large">
    <div class="uk-card uk-card-default uk-card-body" *ngIf="cliente.medidas == 0">
      <div uk-alert>
        <h2>No hay datos de medidas <i class="fas fa-table"></i></h2>
        <button class="uk-button uk-button-default " type="button"
          routerLink="/medidas/agregar/{{cliente.id}}">Agregar Medida</button>
      </div>
    </div>
  </div>
</div>
<!-- End No data -->

<div class="uk-section-small" *ngIf="cliente.medidas != 0">
  <div class="uk-container uk-container-large">
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <h1>Historial de Medidas</h1>
        <div class="uk-section-small" *ngIf="cliente.medidas != 0">
          <div class="uk-container uk-container-large">
            <div class="uk-grid-small uk-child-width-1-4@s uk-flex-center uk-text-center" uk-grid>
              <div *ngFor="let medida of cliente.medidas | paginate: {itemsPerPage: 4,currentPage: p1, id: 'first'}">
                <div class="uk-card uk-card-default uk-card-body">
                  <img src="../../../../assets/images/post_NUEVAS_SOLIC.jpg" alt="">
                  <a class="uk-button uk-button-text">{{medida.fecha_consulta}}</a>
                  <div>
                    <ul class="uk-nav ">
                      <li>
                        <button class="uk-button" uk-tooltip="ver" routerLink="/medidas/ver/{{medida.id}}">
                          <span uk-icon="info"></span></button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="text-align: center;">
              <pagination-controls (pageChange)="p1 = $event" id="first" previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- End No data -->
<div class="uk-section-small" *ngIf="cliente.historias == 0">
    <div class="uk-container uk-container-large">
      <div class="uk-card uk-card-default uk-card-body" *ngIf="cliente.historias == 0">
        <div uk-alert>
          <h2>No hay datos de Historias Clinicas <i class="fas fa-table"></i></h2>
          <button class="uk-button uk-button-default " type="button"
            routerLink="/historia/agregar/{{cliente.id}}">Agregar Historia</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End No data -->


<div class="uk-section-small" *ngIf="cliente.historias != 0">
    <div class="uk-container uk-container-large">
      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h1>Historial de Historias Clinicas</h1>
          <div class="uk-section-small" *ngIf="cliente.historias != 0">
            <div class="uk-container uk-container-large">
              <div class="uk-grid-small uk-child-width-1-4@s uk-flex-center uk-text-center" uk-grid>
                <div *ngFor="let historia of cliente.historias | paginate: {itemsPerPage: 4,currentPage: p2, id: 'two'}" [shAttachMenu]="menu"
                (contextmenu)="leftClick(historia.id)">
                  <div class="uk-card uk-card-default uk-card-body">
                    <img src="../../../../assets/images/post_NUEVAS_SOLIC.jpg" alt="">
                    <a class="uk-button uk-button-text">{{historia.fecha_consulta}}</a>
                    <div>
                      <ul class="uk-nav ">
                        <li>
                          <button class="uk-button" uk-tooltip="ver" routerLink="/historia/ver/{{historia.id}}">
                            <span uk-icon="info"></span></button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="text-align: center;">
                <pagination-controls (pageChange)="p2 = $event" id="two" previousLabel="Anterior" nextLabel="Siguiente">
                  </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <sh-context-menu #menu>
    <ng-template shContextMenuItem let-data >
        <div routerLink="/examen/fisico/agregar/{{idHistoria}}">
          <span uk-icon="icon: history"></span>
          Agregar examen fisico 
        </div>
      </ng-template>
      <ng-template shContextMenuItem let-data >
        <div routerLink="/analisis/agregar/{{idHistoria}}">
          <span uk-icon="icon: history"></span>
          Agregar Analisís
        </div>
      </ng-template>
</sh-context-menu>
<!-- End derecho -->
  <!--examenes fisicos-->

  
