<div id="sidebar" class="tm-sidebar-left uk-background-default">

    <div class="user">
        <img id="avatar" width="300" height="300" class="uk-border-circle" src="../../../../assets/images/logo.png" />
        <div class="uk-margin-top"></div>
        <h2><strong>ServiAsistimos</strong></h2>
         <div id="name" class="uk-text-truncate">Ronald</div>
        <div id="email" class="uk-text-truncate">Rodriguez</div>
    </div>

    <ul class="uk-nav uk-nav-default">
        <li>
            <a routerLink="/usuario" routerLinkActive="active">
                <i class="fas fa-users"></i>
                <strong>Usuarios</strong>
            </a>
        </li>
        <li>
            <a routerLink="/usuario" ><i class="fas fa-cogs"></i><b>Usuarios</b></a>
        </li>
        <li>
            <a routerLink="/usuario" ><i class="fas fa-cogs"></i><b>Usuarios</b></a>
        </li>
        <li>
            <a routerLink="/usuario" ><i class="fas fa-cogs"></i><b>Usuarios</b></a>
        </li>
        <li>
            <a routerLink="/usuario" ><i class="fas fa-cogs"></i><b>Usuarios</b></a>
        </li>
        <li>
            <a routerLink="/usuario" ><i class="fas fa-cogs"></i><b>Usuarios</b></a>
        </li>
        <li>
            <a routerLink="/usuario" ><i class="fas fa-cogs"></i><b>Usuarios</b></a>
        </li>
        <li>
            <a routerLink="/usuario" ><i class="fas fa-cogs"></i><b>Usuarios</b></a>
        </li>

    </ul>


</div>