<div class="uk-section-small uk-section-default header">
  <div class="uk-container uk-container-large">
    <h1><span class="ion-speedometer"></span> Editar Seguro</h1>
    <ul class="uk-breadcrumb">
      <li><a routerLink="">Inicio</a></li>
      <li><a routerLink="/insurance">Seguros</a></li>
      <li><span>Editar Seguro</span></li>
    </ul>
  </div>
</div>


<div class="uk-section-small">
  <div class="uk-container uk-container-large">
    <div>
      <div class="uk-card uk-card-default uk-card-body">

        <form class="uk-grid-small" [formGroup]="formGroupUser" uk-grid  (ngSubmit)="captureInformation()">

          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Nombre Seguro</label>
            <input class="uk-input" type="text" [(ngModel)]="insurance.nameInsurance" formControlName="name"/>
          </div>


          <div class="uk-width-1-1@s uk-flex uk-flex-center">
            <button class="uk-button uk-button-primary submitbutton" type="submit" [disabled]="!formGroupUser.valid">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>