<div class="uk-section-small uk-section-default header">
  <div class="uk-container uk-container-large">
    <h1><span class="ion-speedometer"></span> Servicios</h1>
    <ul class="uk-breadcrumb">
      <li><a routerLink="">Inicio</a></li>
      <li><span>Servicios</span></li>
    </ul>
  </div>
</div>

<!-- End No data -->
<div class="uk-section-small" *ngIf="service.length == 0">
  <div class="uk-container uk-container-large">
    <div uk-alert>
      <h2>No hay datos <i class="fas fa-table"></i></h2>
    </div>
  </div>
</div>

<div class="uk-section-small" *ngIf="service.length != 0">
  <div class="uk-container uk-container-large">
    <div uk-alert>
      <div class="uk-navbar-left">
        <div class="uk-search uk-search-navbar">
          <span uk-search-icon></span>
          <input class="uk-search-input" type="text" [(ngModel)]="term" placeholder="Buscar...">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="uk-section-small" *ngIf="service.length != 0">
  <div class="uk-container uk-container-large">

    <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s uk-text-center" uk-grid>

      <div *ngFor="let servi of service | filter:term  | paginate: { itemsPerPage: 6, currentPage: p }"
        [shAttachMenu]="menu" (contextmenu)="leftClick(servi._id)">
        <div class="uk-card uk-card-default uk-card-body">
          {{servi.nameService}}
          <img src="../../../../assets/images/post.jpg">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-section-small" *ngIf="service.length != 0">
  <div class="uk-container uk-container-large">
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <div style="text-align: center;">
          <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="floating-button" style="border-radius: 50%;" routerLink="/service/add">
  <span class="plus-circle" uk-icon="plus"></span>
</div>

<!-- Clic derecho -->

<sh-context-menu #menu>
  <ng-template shContextMenuItem>
    <div routerLink="/service/update/{{idService}}">
      <span uk-icon="icon: pencil"></span>
      Editar Servicio
    </div>
  </ng-template>
  <ng-template shContextMenuItem>
    <div routerLink="/service/delete/{{idService}}">
      <span uk-icon="icon: trash"></span>
      Eliminar Servicio
    </div>
  </ng-template>
</sh-context-menu>



<!-- Modal Comentario -->
<div id="modal-close-default" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title">Comentario</h2>
    <p>{{comentario}}</p>
  </div>
</div>
<!-- Fin Modal Comentario -->