<div class="uk-section-small uk-section-default header">
  <div class="uk-container uk-container-large">
    <h1><span class="ion-speedometer"></span> Editar Usuario</h1>
    <ul class="uk-breadcrumb">
      <li><a routerLink="">Inicio</a></li>
      <li><a routerLink="/usuario">Usuarios</a></li>
      <li><span>Editar Usuario</span></li>
    </ul>
  </div>
</div>


<div class="uk-section-small">
  <div class="uk-container uk-container-large">
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <form class="uk-grid-small" uk-grid [formGroup]="data" (ngSubmit)="editar()">

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Nombres</label>
            <input class="uk-input" type="text" formControlName="nombres" [(ngModel)]="cliente.nombres" />
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Apellidos</label>
            <input class="uk-input" type="text" formControlName="apellidos" [(ngModel)]="cliente.apellidos" />
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Cedula</label>
            <input class="uk-input" type="number" formControlName="telefono"  [(ngModel)]="cliente.numero" />
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Fecha Nacimiento</label>
            <input class="uk-input" type="date" formControlName="fecha_nacimiento" [(ngModel)]="cliente.fecha_nacimiento" />
          </div>



          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Celular</label>
            <input class="uk-input" type="number" formControlName="celular" [(ngModel)]="cliente.celular"/>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Correo</label>
            <input class="uk-input" type="email" formControlName="correo" [(ngModel)]="cliente.correo"/>
          </div>

          
          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">EPS</label>
            <select class="uk-select" formControlName="eps" [(ngModel)]="cliente.eps">
              <option *ngFor="let ep of eps"   value="{{ep.id}}">{{ep.descripcion}}</option>
            </select>
          </div>


          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Limitaciones</label>
            <select class="uk-select" formControlName="limitaciones" [(ngModel)]="cliente.limitaciones">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-1@s" *ngIf="data.value.limitaciones == 1">
            <label class="uk-form-label" for="form-stacked-text">Descripcion Limitaciones</label>
            <input class="uk-input" type="text" formControlName="descripcion_limitaciones" [(ngModel)]="cliente.descripcion_limitaciones" />
          </div>
         

          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Alergias</label>
            <select class="uk-select" formControlName="alergias" [(ngModel)]="cliente.alergias">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-1@s" *ngIf="data.value.alergias == 1">
            <label class="uk-form-label" for="form-stacked-text">Descripcion Alergias</label>
            <input class="uk-input" type="text" formControlName="descripcion_alergias" [(ngModel)]="cliente.descripcion_alergias"/>
          </div>
          
          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Genero</label>
            <select class="uk-select" formControlName="genero" [(ngModel)]="cliente.genero">
              <option *ngFor="let gen of genero"   value="{{gen.id}}">{{gen.descripcion}}</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
              <label class="uk-form-label" for="form-stacked-text">Fecha Entrada</label>
              <input class="uk-input" type="date" formControlName="fecha_entrada" [(ngModel)]="cliente.fecha_entrada" />
            </div>

            <div class="uk-width-1-2@s">
                <label class="uk-form-label" for="form-stacked-text">Feccha Fin</label>
                <input class="uk-input" type="date" formControlName="fecha_fin" [(ngModel)]="cliente.fecha_final"/>
              </div>

          <div class="uk-width-1-1@s">
            <h1 class="text-center">Datos de emergencia</h1>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Nombre emergencia</label>
            <input class="uk-input" type="text" formControlName="nombre_emergencia" [(ngModel)]="cliente.nombre_familiar" />
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Numero emergencia</label>
            <input class="uk-input" type="number" formControlName="celular_emergencia" [(ngModel)]="cliente.celular_familiar" />
          </div>

          <div class="uk-width-1-1@s uk-flex uk-flex-center">
            <button class="uk-button uk-button-primary submitbutton" type="submit" [disabled]="!data.valid">
              Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>