<html *ngIf="user.ok === false">
<app-login></app-login>
</html>

<html *ngIf="user.ok === true" >
<head>
    <title>ServiAsistimos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
</head>

<body>
    <app-header></app-header>
    <app-menu></app-menu>
    <div class="content-padder content-background">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</body>

</html>