<div class="uk-section-small uk-section-default header">
    <div class="uk-container uk-container-large">
      <h1><span class="ion-speedometer"></span> Ver Medida</h1>
      <ul class="uk-breadcrumb">
        <li><a routerLink="">Inicio</a></li>
        <li><a routerLink="/usuario">Usuarios</a></li>
        <li><span>Ver Medida</span></li>
      </ul>
    </div>
  </div>
  
  
  <div class="uk-section-small">
    <div class="uk-container uk-container-large">
      <div>
        <div class="uk-card uk-card-default uk-card-body">
  
          <form class="uk-grid-small" uk-grid [formGroup]="data" (ngSubmit)="agregar()">
  
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Talla</label>
              <input class="uk-input" type="number"  formControlName="altura" [(ngModel)]="medida.altura" disabled />
            </div>
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Peso</label>
              <input class="uk-input" type="number" formControlName="peso" [(ngModel)]="medida.peso" disabled />
            </div>
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Porcentaje Graso</label>
              <input class="uk-input" type="number" formControlName="grasa" [(ngModel)]="medida.grasa" disabled/>
            </div>
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Masa grasa</label>
              <input class="uk-input" type="number" formControlName="masa_grasa" [(ngModel)]="medida.masa_grasa" disabled />
            </div>
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">% musculo</label>
              <input class="uk-input" type="number" formControlName="musculo" [(ngModel)]="medida.musculo" disabled/>
            </div>
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Masa Muscular</label>
              <input class="uk-input" type="number" formControlName="masa_muscular" [(ngModel)]="medida.masa_muscular" disabled/>
            </div>
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Muñeca Derecha</label>
              <input class="uk-input" type="number" formControlName="muneca_derecha" [(ngModel)]="medida.muneca_derecha" disabled/>
            </div>
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Indice de Complexion Corporal</label>
              <input class="uk-input" type="number" formControlName="indice_corporal" [(ngModel)]="medida.indice_corporal" disabled/>
            </div>
  
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Complexion Corporal</label>
              <input class="uk-input" type="number" formControlName="complexion_corporal" [(ngModel)]="medida.complexion_corporal" disabled/>
            </div>
  
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Cuello </label>
              <input class="uk-input" type="number" formControlName="cuello" [(ngModel)]="medida.cuello" disabled/>
            </div>
  
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Pecho </label>
              <input class="uk-input" type="number" formControlName="pecho"[(ngModel)]="medida.pecho" disabled />
            </div>
  
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Abdomen Superior </label>
              <input class="uk-input" type="number" formControlName="abdomen_superior"[(ngModel)]="medida.abdomen_superior" disabled />
            </div>
  
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Abdomen Medio </label>
              <input class="uk-input" type="number" formControlName="abdomen_medio" [(ngModel)]="medida.abdomen_medio" disabled/>
            </div>
  
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Abdomen inferior </label>
              <input class="uk-input" type="number" formControlName="abdomen_inferior" [(ngModel)]="medida.abdomen_inferior" disabled/>
            </div>
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Caderas </label>
              <input class="uk-input" type="number" formControlName="cadera" [(ngModel)]="medida.cadera" disabled/>
            </div>
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Brazo Derecho Relajado</label>
              <input class="uk-input" type="number" formControlName="Brazo_derecho_relajado"[(ngModel)]="medida.Brazo_derecho_relajado" disabled />
            </div>
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Brazo Derecho Contraido</label>
              <input class="uk-input" type="number" formControlName="Brazo_derecho_contraido" [(ngModel)]="medida.Brazo_derecho_contraido" disabled />
            </div>
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Brazo Izquierdo Relajado</label>
              <input class="uk-input" type="number" formControlName="Brazo_izquierdo_relajado" [(ngModel)]="medida.Brazo_izquierdo_relajado" disabled/>
            </div>
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Brazo Izquierdo Contraido</label>
              <input class="uk-input" type="number" formControlName="Brazo_izuqierdo_contraido" [(ngModel)]="medida.Brazo_izuqierdo_contraido" disabled/>
            </div>
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Muslo Derecho</label>
              <input class="uk-input" type="number" formControlName="Muslo_derecho" [(ngModel)]="medida.Muslo_derecho" disabled/>
            </div>
  
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Muslo Izquierdo</label>
              <input class="uk-input" type="number" formControlName="Muslo_izuqierdo" [(ngModel)]="medida.Muslo_izuqierdo" disabled/>
            </div>
  
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Pantorrilla Derecha</label>
              <input class="uk-input" type="number" formControlName="pantorrilla_derecha"[(ngModel)]="medida.pantorrilla_derecha" disabled />
            </div>
  
            <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="form-stacked-text">Pantorrilla Izquierda</label>
              <input class="uk-input" type="number" formControlName="Pantorrilla_izuqierda"[(ngModel)]="medida.Pantorrilla_izuqierda" disabled />
            </div>
          
  
            <div class="uk-width-1-1@s uk-flex uk-flex-center">
              <button class="uk-button uk-button-primary submitbutton" type="submit" [disabled]="!data.valid">
               volver
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>