<div class="uk-section-small uk-section-default header  ">
  <div class="uk-container uk-container-large">
      <h1>Analisís</h1>
      <ul class="uk-breadcrumb">
          <li><a routerLink="/">Inicio</a></li>
          <li><a>Agregar Alimentaion</a></li>
      </ul>
  </div>
</div>


<div class="uk-section-small">
  <div class="uk-container uk-container-large">
    <div>
      <div class="uk-card uk-card-default uk-card-body">

        <form class="uk-grid-small" uk-grid [formGroup]="data" (ngSubmit)="agregar()">

          <div class="uk-width-1-1@s" >
            <label class="uk-form-label" for="form-stacked-text">desayuno </label>
            <textarea class="uk-textarea" formControlName="desayuno"></textarea>
          </div>


          <div class="uk-width-1-1@s" >
            <label class="uk-form-label" for="form-stacked-text">colacion_mañana </label>
            <textarea class="uk-textarea" formControlName="colacion_mañana"></textarea>
          </div>

          <div class="uk-width-1-1@s" >
            <label class="uk-form-label" for="form-stacked-text">almuerzo </label>
            <textarea class="uk-textarea" formControlName="almuerzo"></textarea>
          </div>

          <div class="uk-width-1-1@s" >
            <label class="uk-form-label" for="form-stacked-text">colacion_tarde </label>
            <textarea class="uk-textarea" formControlName="colacion_tarde"></textarea>
          </div>

          <div class="uk-width-1-1@s" >
            <label class="uk-form-label" for="form-stacked-text">cena </label>
            <textarea class="uk-textarea" formControlName="cena"></textarea>
          </div>

          <div class="uk-width-1-1@s" >
            <label class="uk-form-label" for="form-stacked-text">colacion_trasnocho </label>
            <textarea class="uk-textarea" formControlName="colacion_trasnocho"></textarea>
          </div>

          <div class="uk-width-1-1@s" >
            <label class="uk-form-label" for="form-stacked-text">alimentos_no_permitidos </label>
            <textarea class="uk-textarea" formControlName="alimentos_no_permitidos"></textarea>
          </div>

        
          <div class="uk-width-1-1@s uk-flex uk-flex-center">
            <button class="uk-button uk-button-primary submitbutton" type="submit" [disabled]="!data.valid">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>