/* You can add global styles to this file, and also import other style files */

//Colors
.bg-green{background: #8BC34A;}
.bg-cian{background: #03a9f4;}
.bg-blue{background: #2196f3;}
.bg-yellow{background: #ffc107;}
.bg-red{background: #ea4335}

//Positions
.vertical-middle{
    vertical-align: middle !important;
}