<div class="uk-section-small uk-section-default header">
  <div class="uk-container uk-container-large">
    <h1><span class="ion-speedometer"></span>Historia Clinica</h1>
    <ul class="uk-breadcrumb">
      <li><a routerLink="">Inicio</a></li>
      <li><a routerLink="/usuario">Usuarios</a></li>
      <li><span> Historia Clinica</span></li>
    </ul>
  </div>
</div>

<div class="uk-section-small">
  <div class="uk-container uk-container-large">
    <div>
      <div class="uk-card uk-card-default uk-card-body">

        <form class="uk-grid-small" uk-grid [formGroup]="data" (ngSubmit)="editar()">

          <div class="uk-width-1-1@s">
            <h1 style="text-align: center">Motivo Consulta</h1>
          </div>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Motivo Consulta</label>
            <textarea class="uk-input" type="text" [(ngModel)]="historia.razon" disabled
              formControlName="razon"></textarea>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Sincope</label>
            <select class="uk-select" formControlName="sincope" [(ngModel)]="historia.sincope" disabled>
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>
          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Cefalea</label>
            <select class="uk-select" formControlName="cefalea" [(ngModel)]="historia.cefalea" disabled>
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>
          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Dolor toracico</label>
            <select class="uk-select" formControlName="dolor_toracico" [(ngModel)]="historia.dolor_toracico" disabled>
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>
          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Palpitaciones</label>
            <select class="uk-select" formControlName="palpitaciones" [(ngModel)]="historia.palpitaciones" disabled>
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>
          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Dolor articular</label>
            <select class="uk-select" formControlName="dolor_articular" [(ngModel)]="historia.dolor_articular" disabled>
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Enfermedad Actual</label>
            <textarea class="uk-textarea" formControlName="enfermedad_actual" [(ngModel)]="historia.enfermedad_actual"
              disabled></textarea>
          </div>

          <div class="uk-width-1-1@s">
            <h1 style="text-align: center">Antecedentes patologicos</h1>
          </div>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Patologicos</label>
            <select class="uk-select" [(ngModel)]="historia.patologicos" disabled formControlName="patologicos">
              <option value="1">SI</option>
              <option value="0">NO</option>
              <option value="2">OTROS</option>
            </select>
          </div>

          <div class="uk-width-1-1@s" *ngIf="data.value.patologicos == 2">
            <label class="uk-form-label" for="form-stacked-text">Otros</label>
            <input class="uk-input" type="text" [(ngModel)]="historia.otros" disabled formControlName="otros" />
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Obesidad</label>
            <select class="uk-select" [(ngModel)]="historia.Obesidad" disabled formControlName="Obesidad">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Displidemia</label>
            <select class="uk-select" [(ngModel)]="historia.Dislipidemia" disabled formControlName="Dislipidemia">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Hipertension arterial</label>
            <select class="uk-select" [(ngModel)]="historia.hipertencion_arterial" disabled
              formControlName="hipertencion_arterial">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Diabetes mellitus</label>
            <select class="uk-select" [(ngModel)]="historia.diabetes_mellitus" disabled
              formControlName="diabetes_mellitus">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Sincope</label>
            <select class="uk-select" [(ngModel)]="historia.Sincope" disabled formControlName="Sincope">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Infarto agudo miocardio</label>
            <select class="uk-select" [(ngModel)]="historia.Infarto_agudo_del_miocardio" disabled
              formControlName="Infarto_agudo_del_miocardio">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">insuficiencia cardiaca</label>
            <select class="uk-select" [(ngModel)]="historia.insuficiencia_cardiaca" disabled
              formControlName="insuficiencia_cardiaca">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Paro cardiaco</label>
            <select class="uk-select" [(ngModel)]="historia.paro_cardiaco" disabled formControlName="paro_cardiaco">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>


          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Enfermedad Renal</label>
            <select class="uk-select" [(ngModel)]="historia.enfermedad_renal" disabled
              formControlName="enfermedad_renal">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <!--Grados de enfermedad Renal-->
          <div class="uk-width-1-1@s" *ngIf="data.value.enfermedad_renal == 1">
            <label class="uk-form-label" for="form-stacked-text">Estadio</label>
            <select class="uk-select" [(ngModel)]="historia.estadio" disabled formControlName="estadio">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3a</option>
              <option value="4">3b</option>
              <option value="5">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <!--fin Grados de enfermedad Renal-->

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">hemodialisis</label>
            <select class="uk-select" [(ngModel)]="historia.hemodialisis" disabled formControlName="hemodialisis">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Enfermedad vascular periferica</label>
            <select class="uk-select" [(ngModel)]="historia.Enfermedad_vascular_periferica" disabled
              formControlName="Enfermedad_vascular_periferica">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Asma</label>
            <select class="uk-select" [(ngModel)]="historia.Asma" disabled formControlName="Asma">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>



          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">EPOC</label>
            <select class="uk-select" [(ngModel)]="historia.EPOC" disabled formControlName="EPOC">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Artritis</label>
            <select class="uk-select" [(ngModel)]="historia.Artritis" disabled formControlName="Artritis">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Artritis Reumatoidea</label>
            <select class="uk-select" [(ngModel)]="historia.Artritis_reumatoidea" disabled
              formControlName="Artritis_reumatoidea">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>


          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">LES</label>
            <select class="uk-select" [(ngModel)]="historia.LES" disabled formControlName="LES">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Anemia</label>
            <select class="uk-select" [(ngModel)]="historia.Anemia" disabled formControlName="Anemia">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">hepatitis</label>
            <select class="uk-select" [(ngModel)]="historia.hepatitis" disabled formControlName="hepatitis">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>
          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">VIH</label>
            <select class="uk-select" [(ngModel)]="historia.VIH" disabled formControlName="VIH">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Neoplasias</label>
            <select class="uk-select" [(ngModel)]="historia.Neoplasias" disabled formControlName="Neoplasias">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Hipotiroidismo</label>
            <select class="uk-select" [(ngModel)]="historia.Hipotiroidismo" disabled formControlName="Hipotiroidismo">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>


          <!--titulo general-->
          <div class="uk-width-1-1@s">
            <h1 style="text-align: center">Descripcion antecedentes patologicos</h1>
          </div>
          <!--titulo general-->

          <!--subtitulo Quirúrgicos-->
          <div class="uk-width-1-1@s">
            <h2 style="text-align: center">Quirúrgicos</h2>
          </div>
          <!--subtitulo Quirúrgicos-->

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Corazón</label>
            <select class="uk-select" [(ngModel)]="historia.corazon" disabled formControlName="corazon">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Hombro</label>
            <select class="uk-select" [(ngModel)]="historia.hombro" disabled formControlName="hombro">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Rodilla</label>
            <select class="uk-select" [(ngModel)]="historia.rodilla" disabled formControlName="rodilla">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Descripcion antecedentes quirurgicos</label>
            <textarea class="uk-input" type="text" [(ngModel)]="historia.quirurgicos" disabled
              formControlName="quirurgicos"></textarea>
          </div>

          <!--subtitulo Alergicos-->
          <div class="uk-width-1-1@s">
            <h2 style="text-align: center">Alergicos</h2>
          </div>
          <!--subtitulo Alergicos-->

          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Alergicos</label>
            <select class="uk-select" [(ngModel)]="historia.alergicos" disabled formControlName="alergicos">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Descripcion Alergicos</label>
            <textarea class="uk-input" type="text" [(ngModel)]="historia.descripcion_alergicos" disabled
              formControlName="descripcion_alergicos"></textarea>
          </div>

          <!--subtitulo Toxicologicos-->
          <div class="uk-width-1-1@s">
            <h2 style="text-align: center">Toxicologicos</h2>
          </div>
          <!--subtitulo Toxicologicos-->

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Alcohol</label>
            <select class="uk-select" [(ngModel)]="historia.alcohol" disabled formControlName="alcohol">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Tabaquismo</label>
            <select class="uk-select" [(ngModel)]="historia.tabaquismo" disabled formControlName="tabaquismo">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Sustancias psicoactivas</label>
            <select class="uk-select" [(ngModel)]="historia.sustancias_psicoactivas" disabled
              formControlName="sustancias_psicoactivas">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Descripcion antecedentes toxicologicos</label>
            <textarea class="uk-input" type="text" [(ngModel)]="historia.toxilogicos" disabled
              formControlName="toxilogicos"></textarea>
          </div>

          <!--subtitulo Traumaticos-->
          <div class="uk-width-1-1@s">
            <h2 style="text-align: center">Traumaticos</h2>
          </div>
          <!--subtitulo Traumaticos-->

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Fracturas </label>
            <select class="uk-select" [(ngModel)]="historia.fracturas" disabled formControlName="fracturas">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Transfusionales </label>
            <select class="uk-select" [(ngModel)]="historia.transfusionales" disabled formControlName="transfusionales">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Descripcion Traumaticos</label>
            <textarea class="uk-input" type="text" [(ngModel)]="historia.traumaticos" disabled
              formControlName="traumaticos"></textarea>
          </div>

          <!--subtitulo Hospitalizaciones-->
          <div class="uk-width-1-1@s">
            <h2 style="text-align: center">Hospitalizaciones</h2>
          </div>
          <!--subtitulo Hospitalizaciones -->

          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Hospitalizaciones</label>
            <select class="uk-select" [(ngModel)]="historia.hospitalizaciones" disabled
              formControlName="hospitalizaciones">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Descripción Hospitalizaciones</label>
            <textarea class="uk-input" type="text" [(ngModel)]="historia.descripcion_hospitalizaciones" disabled
              formControlName="descripcion_hospitalizaciones"></textarea>
          </div>


          <!--subtitulo Ginecologicos-->
          <div class="uk-width-1-1@s" *ngIf="sexo == 1">
            <h2 style="text-align: center">Ginecologicos</h2>
          </div>
          <!--subtitulo Ginecologicos-->


          <div class="uk-width-1-2@s" *ngIf="sexo == 1">
            <label class="uk-form-label" for="form-stacked-text">Menarquia </label>
            <input class="uk-input" type="text" [(ngModel)]="historia.Menarquia" disabled formControlName="Menarquia" />
          </div>

          <div class="uk-width-1-2@s" *ngIf="sexo == 1">
            <label class="uk-form-label" for="form-stacked-text">FUR </label>
            <input class="uk-input" type="date" [(ngModel)]="historia.FUR" disabled formControlName="FUR" />
          </div>

          <div class="uk-width-1-2@s"*ngIf="sexo == 1">
            <label class="uk-form-label" for="form-stacked-text">Ciclos</label>
            <select class="uk-select" [(ngModel)]="historia.Ciclos" disabled formControlName="Ciclos">
              <option value="1">Regulares</option>
              <option value="0">Irregulares</option>
            </select>
          </div>

          <div class="uk-width-1-2@s" *ngIf="sexo == 1">
            <label class="uk-form-label" for="form-stacked-text">Estado de Embarazo</label>
            <select class="uk-select" [(ngModel)]="historia.embarazo" disabled formControlName="embarazo">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>


          <div class="uk-width-1-4@s" *ngIf="sexo == 1">
            <label class="uk-form-label" for="form-stacked-text">G__</label>
            <input class="uk-input" type="number" name="quantity" maxlength="3" min="1" max="3" formControlName="mu_g" disabled [(ngModel)]="historia.mu_g" />
          </div>
          <div class="uk-width-1-4@s" *ngIf="sexo == 1">
            <label class="uk-form-label" for="form-stacked-text"> P__ </label>
            <input class="uk-input" type="number" name="quantity" maxlength="3" min="1" max="3" formControlName="mu_p" disabled [(ngModel)]="historia.mu_p" />
          </div>
          <div class="uk-width-1-4@s" *ngIf="sexo == 1">
            <label class="uk-form-label" for="form-stacked-text">C __</label>
            <input class="uk-input" type="number" name="quantity" maxlength="3" min="1" max="3" formControlName="mu_c" disabled [(ngModel)]="historia.mu_c" />
          </div>
          <div class="uk-width-1-4@s" *ngIf="sexo == 1">
            <label class="uk-form-label" for="form-stacked-text">A __</label>
            <input class="uk-input" type="number" name="quantity" maxlength="3" min="1" max="3" formControlName="mu_a" disabled [(ngModel)]="historia.mu_a" />
          </div>
          <div class="uk-width-1-4@s" *ngIf="sexo == 1">
            <label class="uk-form-label" for="form-stacked-text">E__</label>
            <input class="uk-input" type="number" name="quantity" maxlength="3" min="1" max="3" formControlName="mu_e" disabled [(ngModel)]="historia.mu_e" />
          </div>
          <div class="uk-width-1-4@s" *ngIf="sexo == 1">
            <label class="uk-form-label" for="form-stacked-text">V__ </label>
            <input class="uk-input" type="number" name="quantity" maxlength="3" min="1" max="3" formControlName="mu_v" disabled [(ngModel)]="historia.mu_v" />
          </div>
          <div class="uk-width-1-4@s" *ngIf="sexo == 1">
            <label class="uk-form-label" for="form-stacked-text"> M__</label>
            <input class="uk-input" type="number" name="quantity" maxlength="3" min="1" max="3" formControlName="mu_m" disabled [(ngModel)]="historia.mu_m" />
          </div>
          <!--subtitulo Familiares-->
          <div class="uk-width-1-1@s">
            <h2 style="text-align: center">Familiares</h2>
          </div>
          <!--subtitulo Familiares-->

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Muerte Subita</label>
            <select class="uk-select" [(ngModel)]="historia.muerte_subita" disabled formControlName="muerte_subita">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">IAM antes de los 50 años</label>
            <select class="uk-select" [(ngModel)]="historia.IAM" disabled formControlName="IAM">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>


          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Diabetes mellitus</label>
            <select class="uk-select" [(ngModel)]="historia.diabetes_mellitus_familia" disabled
              formControlName="diabetes_mellitus_familia">
              <option value="1">SI</option>
              <option value="0">NO</option>
            </select>
          </div>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-stacked-text">Descripcion antecednetes familiares</label>
            <textarea class="uk-input" type="text" [(ngModel)]="historia.descripcion_antecednetes_familiares" disabled
              formControlName="descripcion_antecednetes_familiares"></textarea>
          </div>

          <div class="uk-width-1-1@s uk-flex uk-flex-center">
            <button class="uk-button uk-button-primary submitbutton" type="submit">
              Volver
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="uk-section-small" *ngIf="historia.examenes_medicos != 0">
  <div class="uk-container uk-container-large">
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <h1>Historial de Examenes Medicos</h1>
        <div class="uk-section-small" *ngIf="historia.historias != 0">
          <div class="uk-container uk-container-large">
            <div class="uk-grid-small uk-child-width-1-4@s uk-flex-center uk-text-center" uk-grid>
              <div *ngFor="let examen of historia.examenes_medicos | paginate: {itemsPerPage: 4,currentPage: p3, id: 'three'}">
                <div class="uk-card uk-card-default uk-card-body">
                  <img src="../../../../assets/images/post_NUEVAS_SOLIC.jpg" alt="">
                  <a class="uk-button uk-button-text">{{examen.fecha_creacion}}</a>
                  <div>
                    <ul class="uk-nav ">
                      <li>
                        <button class="uk-button" uk-tooltip="ver" routerLink="/examen/fisico/ver/{{examen.id}}">
                          <span uk-icon="info"></span></button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="text-align: center;">
              <pagination-controls (pageChange)="p3 = $event" id="three" previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="uk-section-small" *ngIf="historia.analisis != 0">
  <div class="uk-container uk-container-large">
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <h1>Historial de Analisís</h1>
        <div class="uk-section-small" *ngIf="historia.analisis != 0">
          <div class="uk-container uk-container-large">
            <div class="uk-grid-small uk-child-width-1-4@s uk-flex-center uk-text-center" uk-grid>
              <div *ngFor="let analisis of historia.analisis | paginate: {itemsPerPage: 4,currentPage: p4, id: 'four'}">
                <div class="uk-card uk-card-default uk-card-body">
                  <img src="../../../../assets/images/post_NUEVAS_SOLIC.jpg" alt="">
                  <a class="uk-button uk-button-text">{{analisis.fecha_consulta}}</a>
                  <div>
                    <ul class="uk-nav ">
                      <li>
                        <button class="uk-button" uk-tooltip="ver" routerLink="/analisis/ver/{{analisis.id}}">
                          <span uk-icon="info"></span></button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="text-align: center;">
              <pagination-controls (pageChange)="p4 = $event" id="four" previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>